*{
    background-color: #333;
    color: #fff;
}

img{
    border: 3px dotted green;
}

.image-collage{
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}